.index.custom-widget-birthday {
    background-color: #fff;
    padding: 14px 24px 4px 24px;
    border-radius: 15px;
    margin-bottom: 15px;
    height:auto;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__title a {
    font-size: 14px;
    font-weight: 500;
    color: #222D34;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__week-days {
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
    border-top: 1px solid #eff1f2;
    border-bottom: 1px solid #eff1f2;
    margin-bottom: 10px;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__week-day {
    font-size: 9px;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__week-day--active {
    background-color: var(--ui-green-color);
    color: #fff;
    border-radius: 50%;
    width: 20px;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__tab {
    display: none;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__tab--active {
    display: block;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__employee {
    display: flex;
    border-bottom: 1px solid #EBEBEB;
    padding: 3px 0;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__employee-background {
    flex: none;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    box-shadow: 2px 2px 4px #00000040;
    background-image: url(/bitrix/js/ui/icons/b24/images/ui-user.svg?v2);
    background-color: var(--ui-green-color);
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__employee-background a {
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__employee-background a img {
    position: absolute;
    width: 100%;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__date {
    margin-bottom: 12px;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__employee-info-name {
    color: #393939;
    font-size: 14px;
    line-height: 19px;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__employee-info-grade {
    font-size: 12px;
    letter-spacing: 0.1px;
    line-height: 16px;
    color: #acacac;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__employee-department {
    font-size: 12px;
    letter-spacing: 0.1px;
    line-height: 16px;
    color: #83AB4F;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__body {
    overflow: auto;
    padding-right: 30px;
    scrollbar-color: #90bc56 #efefef;
    scrollbar-width: thin;
}

.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__body::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__body::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__body::-webkit-scrollbar-thumb {
    background: #90bc56;
    border: 0px none #ffffff;
    border-radius: 50px;
}
.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__body::-webkit-scrollbar-thumb:active {
    background: #89b351;
}
.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__body::-webkit-scrollbar-track {
    background: #efefef;
    border: 0px none #ffffff;
    border-radius: 50px;
}
.custom-widget-birthday.js-widget-birthday.index .custom-widget-birthday__body::-webkit-scrollbar-corner {
    background: transparent;
}